.control input:focus {
  outline: none;
  border-color: #68a4d6;
  background: #f3f3f3;
}

.control.invalid input {
  border-color: #127FE6;
  background: #DFF6FF;
}

.invalid-text {
  color: #0F2851 !important;
}

.control label {
  font-family: 'Roboto', sans-serif;
}